// Dark Theme
// — — — — — — — — — — — — — — — — —
$colors: (
primary: #375a7f,
 secondary: #0ce3ac,
 danger: #f53d3d,
 light: #fff,
 dark: #333,
) !default;
$text-color: #fff !default;
$background-color: #222 !default;
$list-text-color: $text-color !default;
// $list-text-color: #0ce3ac !default;
$list-background-color: $background-color !default;
$list-border-color: #666 !default;
// $link-color: map-get($colors, primary) !default;
$link-color: #0ce3ac !default;
$toolbar-background-color: #111 !default;
$toolbar-border-color: #000 !default;
$toolbar-text-color: $text-color !default;
$toolbar-active-color: $link-color !default;
$toolbar-inactive-color: #8c8c8c !default;

