.artist {

}

button[fab].fab-map {
  top: calc(100% - 32px);
  z-index: 50;
}

.primary {
  color: #00bc8c;
}

/*
ion-card {
  padding-bottom: 15px;
}

ion-card img {
  display: block;
  width: 91%;
  margin: 0 auto;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
  }

  .overlay {
    background-color: #000;
    opacity: .8;
  }

}
*/
